{% extends 'todo/base.html' %}

{% block content %}
<h1>Задачи: </h1>
<ul>
    {% for todo in todos %}
    <li>
        <a href="{% url 'viewtodo' todo.id %}">
        {% if todo.important %}
            <h3><b>{{ todo.title }}</b></h3>
        {% else %}
            <h3>{{ todo.title }}</h3>
        {% endif %}
        {% if todo.memo %}
            {{ todo.memo }}
        {% endif %}
        {% if todo.url %}
        </a>
        <a href="{{ todo.url }}" style="color:blue;" target="_blank">{{ todo.url }}</a>
        {% endif %}
    </li>

    {% endfor %}
</ul>
{% endblock %}
